[Unit]
Description=Esegue ogni giorno i promemoria mCorsi

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
